
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Navbar Template for Bootstrap</title>
		
		
		
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="icon-fighter-jet"> iManager</span></a>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">主页</a></li>
              <li><a href="#">失物招领</a></li>
              
           
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./"><span class="icon-user"> 萱萱</a></li>
        
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
     	<div class="container">
     	<h2>
     		Hi, 萱萱!
     	</h2>
  
     	<div class="row">
     		<div class="col-xs-12 col-md-8"><h3>18:42 星期五 3月23日 晴</h3></div>
     		<div class="col-xs-6 col-md-4"><h3>
     			<!-- Standard button -->
						<button type="button" class="btn btn-danger">奖学金</button>

						<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						<button type="button" class="btn btn-primary">出国交流</button>

						<!-- Indicates a successful or positive action -->
						<button type="button" class="btn btn-success">讲座</button>
						</h3>
  
     		</div>
	     
     	</div>
     	
     	
 			<div class="content">
 				
 				<div class="bs-callout bs-callout-info">
			    <h4>【引凤筑巢】国际交叉学科论坛：拥抱世界人才</h4>
			    <p>新闻网讯（记者陈丽霞）“归来正当其时，圆梦适得其势，立业恰逢其会！”4月21日，在第五届国际交叉学科论坛开幕式上，校长窦贤康向200余名海外青年才俊抛出热情的橄榄枝，诚邀他们加盟武大、共创一流。</p>
			  </div>
 				
 				<div class="bs-callout bs-callout-warning">
			    <h4> 加拿大驻华大使麦家廉来访</h4>
			    <p>新闻网讯（通讯员童欧慧）4月17日，加拿大驻华大使麦家廉（John McCallum）、麦吉尔大学副校长戴维.艾德尔曼（David Eidelman）一行来访，与我校就医学教育合作达成共识，麦吉尔大学还与我校签署了医学学术合作备忘录。</p>
			  </div>
 				
 				<div class="bs-callout bs-callout-danger">
			    <h4>我校首个国家重大科研仪器研制项目启动 </h4>
			    <p>新闻网讯（通讯员丁星）我校获批的首个国家重大科研仪器研制项目“薄膜生长缺陷跨时空尺度原位/实时监测与调控实验装置”项目日前在汉正式启动。该项目将有助于我国薄膜生长研究走到世界领先水平，为中国高端装置的水平提升带来跨越式发展。</p>
			  </div>
 				
 				
 				
 				
 			</div>
     	
     	</div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
		
  </body>
</html>
