<% include ../partials/header %>

<!-- Main component for a primary marketing message or call to action -->
<div class="container col-xs-12 col-md-10 col-md-offset-1">
<h2>
    Hi, 萱萱!
</h2>

<div class="row">
    <div class="col-xs-12 col-md-8"><h3>18:42 星期五 3月23日 晴</h3></div>
    <div class="col-xs-6 col-md-4 text-right">
        <h3>
        <!-- Standard button -->
            <a href="/lostfound/new">
                <button type="button" class="btn btn-default">
                    <i class="icon-pencil"> 发布</i>
                </button>
            </a>
            <a href="/lostfound">
                <button type="button" class="btn btn-default active">
                    <i class="icon-list"> 列表</i>
                </button>
            </a>
            <a href="/lostfound/map">
                <button type="button" class="btn btn-default">
                    <i class="icon-map-marker"> 地图</i>
                </button>
            </a>
        </h3>
    </div>
</div>

<br>
    <div class="content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/1.jpg" alt="...">
                    <div class="caption">
                        <h4>校园卡</h4>
                        <h5>18:42 03/01/2018</h5>
                        <p>学号是2015302580103，在信息学部二食堂北门附近捡到，请失主与我联系，QQ:2000000013</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/2.jpg" alt="...">
                    <div class="caption">
                        <h4>校园卡</h4>
                        <h5>18:42 03/01/2018</h5>
                        <p>学号是2015302580103，在信息学部二食堂北门附近捡到，请失主与我联系，QQ:2000000013</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/3.jpg" alt="...">
                    <div class="caption">
                        <h4>校园卡</h4>
                        <h5>18:42 03/01/2018</h5>
                        <p>学号是2015302580103，在信息学部二食堂北门附近捡到，请失主与我联系，QQ:2000000013</p>
                    </div>
                </div>
            </div>


    </div>

</div>

</div> <!-- /container -->

<% include ../partials/footer %>