<% include ../partials/header %>

<!-- Main component for a primary marketing message or call to action -->
<div class="container col-xs-12 col-md-10 col-md-offset-1">
    <h2>
        Hi, 萱萱!
    </h2>

    <div class="row">
        <div class="col-xs-12 col-md-8"><h3>18:42 星期五 3月23日 晴</h3></div>
        <div class="col-xs-6 col-md-4 text-right">
            <h3>
                <!-- Standard button -->
                <a href="/lostfound/new">
                    <button type="button" class="btn btn-default">
                        <i class="icon-pencil"> 发布</i>
                    </button>
                </a>

                <a href="/lostfound">
                    <button type="button" class="btn btn-default">
                        <i class="icon-list"> 列表</i>
                    </button>
                </a>

                <a href="/lostfound/map">
                    <button type="button" class="btn btn-default active">
                        <i class="icon-map-marker"> 地图</i>
                    </button>
                </a>
            </h3>

        </div>

    </div>

    <br>
    <div class="content">
    </div>

</div> <!-- /container -->

<% include ../partials/footer %>